.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      rgba(29, 29, 29, 0.7),
      rgba(29, 29, 29, 0.7)
    ),
    url("../imagens/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .banner-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.banner .banner-conteudo h1,
.banner .banner-conteudo p {
  color: var(--white);
}

.banner .banner-conteudo h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.banner .banner-conteudo p {
  font-size: 1rem;
  font-weight: 300;
}

.banner .banner-conteudo .saiba-mais {
  background-color: var(--orange);
  color: var(--white);
  padding: 6px 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}

.banner .banner-conteudo .saiba-mais:hover {
  opacity: 0.9;
}
