section#perguntas {
  background-color: var(--darkOne);
  padding: 3rem 0;
}

section#perguntas .titulo {
  color: var(--white);
}

section#perguntas .titulo::after {
  background: var(--white);
}

.perguntas-frequentes {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 2rem;
  list-style-type: none;
}

.perguntas-frequentes .pergunta-item {
  margin-top: 12px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.perguntas-frequentes .pergunta-item .pergunta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkTwo);
  padding: 10px;
  cursor: pointer;
}

.perguntas-frequentes .pergunta-item .pergunta h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.perguntas-frequentes .pergunta-item .pergunta i {
  font-size: 1.2rem;
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}

.perguntas-frequentes .pergunta-item .resposta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.perguntas-frequentes .pergunta-item .resposta p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  padding: 10px;
}

.perguntas-frequentes .pergunta-item.active .resposta {
  max-height: 1000px;
  animation: animate 1s ease-in-out;
}

.perguntas-frequentes .pergunta-item .pergunta i.active {
  transform: rotate(180deg);
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
