section#perguntas {
  background-color: var(--darkOne);
  padding: 3rem 0;
}

section#perguntas .titulo {
  color: var(--white);
}

section#perguntas .titulo::after {
  background: var(--white);
}

.perguntas-frequentes {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 2rem;
}

.perguntas-frequentes details summary {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  background-color: var(--darkTwo);
  padding: 10px;
  cursor: pointer;
}

.perguntas-frequentes details summary h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}

.perguntas-frequentes details summary i {
  font-size: 1.2rem;
  color: var(--white);
}

.perguntas-frequentes details p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray);
  padding: 10px;
  background-color: var(--darkThree);
  border-top: 1px solid var(--gray);
}

.perguntas-frequentes details {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: max-height 0.3s ease;
}

.perguntas-frequentes details[open] {
  max-height: 100vh;
}

.perguntas-frequentes summary i {
  transition: transform 0.3s ease;
}

.perguntas-frequentes details[open] summary i {
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(360deg);
}
